<?xml version="1.0" ?>
<config>
    <modules>
        <Jun_VendorAccount>
            <version>0.1.0</version>
        </Jun_VendorAccount>
    </modules>
    <global>
        <helpers>
            <jun_vendoraccount>
                <class>Jun_VendorAccount_Helper</class>
            </jun_vendoraccount>
        </helpers>
        <models>
            <vendorm>
                <class>Jun_VendorAccount_Model</class>
                <resourceModel>vendor_resource</resourceModel>
            </vendorm>
            <vendor_resource>
                <class>Jun_VendorAccount_Model_Resourc</class>
                <entities>
                    <table_ven>
                        <table>vendor_table</table>
                    </table_ven>
                </entities>
            </vendor_resource>
        </models>
        <resources>
            <setupjun>
                <setup>
                    <module>Jun_VendorAccount</module>
                </setup>
            </setupjun>
        </resources>
    </global>        
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vendor before="Mage_Adminhtml">Jun_VendorAccount_Adminhtml</vendor>
                    </modules>
                </args>    
            </adminhtml>
        </routers>
    </admin>
</config>